@keyframes show {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes hide {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}

.show {
   animation: show .5s forwards;
}

.hide {
   animation: hide .5s forwards;
}
