.footer {
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
   font-family: "Nunito Sans", sans-serif;
}

.footer p {
   color: var(--w1);
   font-size: 0.875rem;
   font-weight: 500;
}

@media screen and (min-width: 768px) {
   .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
   }

   .footer p{
      font-size: 1rem;
   }
}

@media screen and (min-width: 1200px) {
   body {
      position: relative;
   }

   .footer p {
      font-size: 1.125rem;
   }

}