
.header {
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

.header-logo {
   height: 100px;
   width: auto; 
}

.header-menu {
   display: flex;
   gap: 1rem;
   font-family: "Roboto", sans-serif;
   color: var(--w1);
   transition: .2s;
   font-size: 1.125rem;
}

.header-menu li a {
   transition: .25s;
   border-bottom: 2px solid transparent;
   padding-bottom: 2px;
   font-weight: 400;
   -webkit-user-drag: none;
   user-select: none;
}

.header-menu li a:hover {
   border-color: var(--w1);
}

/* Desktop */
@media screen and (min-width: 1200px) {

   .header {
      padding: 0rem 1.25rem;
   }

   .header-logo {
      height: 120px;
      width: auto;
   }

   .header-menu {
      font-size: 1.5rem;
      gap: 1.5rem;
   }
}
