/* .header-title, .header-menu {
   position: relative;
   z-index: 1;
} */

.header {
   position: relative;
   z-index: 1;
   background-color: var(--b1);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-logo {
   height: 80px;
   /* margin: auto; */
   width: auto; 
}

/* .header-title {
   color: var(--w1);
   text-align: center;
   font-size: 1.5rem;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 500;
   padding: 0.625rem;
   text-transform: uppercase;
   position: fixed;
   width: 100%;
} */

.header-menu {
   display: none;
   gap: 1.5rem;
   font-family: "Roboto", sans-serif;
   color: var(--w1);
   transition: .2s;
}

.header-menu li a {
   transition: .25s;
   border-bottom: 2px solid transparent;
   padding-bottom: 2px;
   font-weight: 400;
}

.header-menu li a:hover {
   border-color: var(--w1);
}

/* Desktop */
@media screen and (min-width: 1200px) {

   .mobile-menu {
      display: none;
   }

   .header-logo {
      height: 100px;
      width: auto;
   }

   .header-menu {
      font-size: 1.5rem;
      display: flex;
      padding: 1.5rem;
   }
}
