
.swap-button {
    display: none;
}

@media screen and (min-width: 1200px) {
    .output-libras-section {
        position: relative;
    }
    
    .swap-button {
        all: unset;
        background-image: url('../img/arrow-left.svg');
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        top: 16px;
        left: 16px;
    }
    
    .swap-button:active {
        transform: scale(1.05);
    }
    
    .output-libras-section.swap {
       order: -1;
    }
    
    .output-libras-section.swap .swap-button {
        right: 10px;
        left: initial;
        background-image: url('../img/arrow-right.svg');
    }
}