
.output-libras-section {
    position: relative;
}

.swap-button {
    all: unset;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 20px;
}

.swap-button:active {
    transform: scale(1.05);
}

.output-libras-section.swap {
   order: -1;
}