.float-button {
    display: none;
}

@media screen and (min-width: 1200px) {
    .float-button {
        all: unset;
        background-image: url("../img/float.svg");
        width: 32px;
        height: 32px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        background-color: var(--g1);
        border-radius: 0px 5px 0px 5px;
     }
  
     .float-button:active {
        transform: scale(1.05);
     }
  
     .float-popup-confirm {
        position: fixed;
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        user-select: none;
     }
  
     .float-confirmBox {
        color: var(--w1);
        padding: 1.5rem 2rem;
        margin-top: 300px;
        background-color: var(--b1);
        border-radius: 5px;
     }
     
     .float-confirmBox h1 {
        font-size: 1.25rem;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
     }
  
     .float-confirm-buttons{
        display: flex;
        gap: 15px;
        margin-top: 10px;
     }
     
     .confirm-button {
        all: unset;
        font-family: "Roboto", sans-serif;
        padding: .4rem .8rem;
        border-radius: 5px;
        color: var(--gr1);
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        color: var(--w1);
     }
  
     .confirm-button.yes {
        background-color: var(--g1);
     }
  
     .confirm-button.no {
        background-color: var(--rc-err);
     }
  
     .confirm-button:active {
        transform: scale(1.05);
     }
  
}